/* styles/globals.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --color-primary: #3498db;
  --color-background-light: #ffffff;
  --color-text-light: #333333;
  --color-background-dark: #2d3748;
  --color-text-dark: #ffffff;
}

[data-theme='dark'] {
  --color-background: var(--color-background-dark);
  --color-text: var(--color-text-dark);
}

[data-theme='light'] {
  --color-background: var(--color-background-light);
  --color-text: var(--color-text-light);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}



